/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--white);
}

html, body, #root {
  max-width: 100vw;
  max-height: 100vh;

  width: 100%;
  height: 100%;
}

*, button, input {
  border: 0;
  outline: none;
  background:  none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  background: var(--primary);
}

/* CSS for Tiptap */
/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color:#0f141990;
  font-size:20px;
  line-height:24px;
  pointer-events: none;
  height: 0;
}



/* TWITTER HEART*/


.hearth {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.animate {
  animation: heart-burst 0.8s steps(28) forwards;
}
@keyframes heart-burst {
  0% {
    background-position: left;
 }
  100% {
    background-position: right;
 }
}
